<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

<div class="container mt-5">
    <div class="login-container">

        <h1 class="text-center mb-4">Login</h1>
            <div class="login-container">
                <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-primary btn-block">Login with Google</a>
                <a href="{% url 'social:begin' 'github' %}" class="btn btn-dark btn-block">Login with GitHub</a>

    </div>

        <div id="alertContainer"></div>

        <form method="POST" id="loginForm">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block" id="loginBtn">Login</button>
        </form>
    </div>
</div>

<!-- Bootstrap JS (popper.js and Bootstrap JS) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- Custom JavaScript -->
<script src="{% static '../../assets/js/login.js' %}"></script>

</body>
</html>
